$squareCount: 11;
$gap: 2px;
$totalGap: ($squareCount - 1) * $gap;
$buffer: 64px;
$maxWidth: 600px + $buffer + $totalGap;
$squareSize: calc(calc(min(100vw, 100vh, $maxWidth) - $buffer - $totalGap) / $squareCount);
$font-size: calc(0.6 * $squareSize);

@mixin board-tile-grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, $squareCount), $squareSize);
  grid-template-rows: repeat(var(--rows, $squareCount), $squareSize);
  gap: $gap;
  font-size: $font-size;
}

@mixin board-tile-grid-variables {
  --square-size: #{$squareSize};
  --gap: #{$gap};
}

@mixin neighbors {
  &.has-neighbor-top {
    margin-top: -1px;
  }

  &.has-neighbor-left {
    margin-left: -1px;
  }

  &.has-neighbor-right {
    margin-right: -1px;
  }

  &.has-neighbor-bottom {
    margin-bottom: -1px;
  }
}
