@mixin bg-colors {
  &[data-landscape='mountain'] {
    background: #853;
  }

  &[data-landscape='water'] {
    background: #13e;
  }

  &[data-landscape='forest'] {
    background: #060;
  }

  &[data-landscape='field'] {
    background: #fa0;
  }

  &[data-landscape='village'] {
    background: #923;
  }

  &[data-landscape='monster'] {
    background: #b1b;
  }

  &[data-landscape='hero'] {
    background: #aaa;
  }
}

@mixin emojis {
  &[data-landscape='mountain'] {
    &::before {
      content: '⛰️';
    }
  }

  &[data-landscape='water'] {
    &::before {
      content: '🐟';
    }
  }

  &[data-landscape='forest'] {
    &::before {
      content: '🌳';
    }
  }

  &[data-landscape='field'] {
    &::before {
      content: '🌱';
    }
  }

  &[data-landscape='village'] {
    &::before {
      content: '🏠';
    }
  }

  &[data-landscape='monster']:not(.has-monster-type) {
    &::before {
      content: '😈';
    }
  }

  &[data-landscape='hero'] {
    &::before {
      content: '👸';
    }
  }
}
