<app-season-info [currentSeason]="currentSeason" [playedCards]="playedCards" [isEndOfSeason]="isEndOfSeason" />

<app-goal-area
  [goals]="goals"
  [coins]="coins"
  [newCoins]="newCoins"
  [previousScores]="scores"
  [temporaryScores]="temporaryScores"
  [currentSeason]="currentSeason"
></app-goal-area>

<div class="content">
  <app-game-board
    [currentBoardState]="untouchedBoardState"
    [currentShapeToPlace]="currentShapeToPlace"
    [conflictedCellIndices]="conflictedCellIndices"
  />

  <div class="controls-and-info">
    <app-next-shape
      *ngIf="currentCard && !isStartOfSeason && !isEndOfSeason"
      [landscapeCard]="currentCard"
      [hasConflict]="hasConflict"
      (landscapeShapeChange)="updateShapeInBoard($event, true)"
      (submit)="submitShape($event)"
    ></app-next-shape>

    <app-season-goals
      *ngIf="currentSeason"
      [currentSeason]="currentSeason"
      [goals]="goals"
      [coins]="coins"
      [scores]="scores"
      [isStartOfSeason]="isStartOfSeason"
      [isEndOfSeason]="isEndOfSeason"
      (startSeason)="startSeason()"
      (endSeason)="endSeason()"
    ></app-season-goals>

    <ng-container *ngIf="!currentSeason">
      <div class="end-score">
        <div>🎖️</div>
        <div>{{totalEndScore}}</div>
      </div>

      <app-season-goals
        *ngFor="let seasonScore of seasonScores"
        [currentSeason]="seasonScore.season"
        [goals]="goals"
        [coins]="seasonScore.coins"
        [scores]="seasonScore.goalScores"
        [isEndOfGame]="true"
      ></app-season-goals>
    </ng-container>
  </div>
</div>
