<app-season-info [currentSeason]="currentSeason" [playedCards]="playedCards" />

<app-goal-area [goals]="goals" [boardState]="currentBoardState" [previousBoardState]="untouchedBoardState"></app-goal-area>

<div class="content">
  <app-game-board [currentBoardState]="currentBoardState" />

  <app-next-shape
    *ngIf="currentCard"
    [landscapeCard]="currentCard"
    [hasConflict]="hasConflict"
    (landscapeShapeChange)="updateShapeInBoard($event, true)"
    (submit)="submitShape($event)"
  ></app-next-shape>
</div>
