:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--bg-color);
  padding: var(--gap-24) var(--gap-24) var(--gap-16);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
}

.content {
  margin: 0 auto;
  padding: var(--gap-24);
  gap: var(--gap-24);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  box-sizing: border-box;
}

.controls-and-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-32);
  flex: 1;

  &.is-start {
    app-game-setup-info {
      order: -1;
    }
  }
}

.end-score {
  font-size: 3rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8);
  width: 100%;
  margin: var(--gap-32) 0;
}

@media (max-width: 600px) {
  .sticky-header {
    padding: var(--gap-16);
  }

  .content {
    padding-bottom: 80px; // to account for the submit button
  }
}
