:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--bg-color);
  padding: 24px 24px 16px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  margin: 0 auto;
  padding: 16px;
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.controls-and-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.end-score {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin: 32px 0;
}

@media (max-width: 600px) {
  .sticky-header {
    padding: 16px;
  }

  .content {
    padding-bottom: 80px; // to account for the submit button
  }
}
