<app-season-info [currentSeason]="currentSeason" [playedCards]="playedCards" />

<app-goal-area
  [goals]="goals"
  [boardState]="!hasConflict ? temporaryBoardState : untouchedBoardState"
  [previousBoardState]="untouchedBoardState"
  [coins]="coins"
  [newCoins]="newCoins"
></app-goal-area>

<div class="content">
  <app-game-board
    [currentBoardState]="untouchedBoardState"
    [currentShapeToPlace]="currentShapeToPlace"
    [conflictedCellIndices]="conflictedCellIndices"
  />

  <app-next-shape
    *ngIf="currentCard"
    [landscapeCard]="currentCard"
    [hasConflict]="hasConflict"
    (landscapeShapeChange)="updateShapeInBoard($event, true)"
    (submit)="submitShape($event)"
  ></app-next-shape>
</div>
