:host {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  width: 100%;
}

app-season-info {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--bg-color);
  padding: 24px 24px 16px;
  width: calc(100% - 48px);
}

app-goal-area {
  padding: 16px 24px;
}

.content {
  margin: 0 auto;
  padding: 16px;
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

@media (max-width: 600px) {
  app-season-info {
    padding: 16px;
    width: calc(100% - 32px);
  }

  app-goal-area {
    padding: 0 16px;
  }

  .content {
    padding-bottom: 80px; // to account for the submit button
  }
}
