:host {
  display: grid;
  place-items: center;
  background: var(--score-tile-bg);
  color: var(--color-text-secondary);
  font-weight: bold;
  font-size: 0.45em;
  white-space: nowrap;

  &.highlight {
    color: var(--color-text);
  }

  &.is-big {
    font-size: 0.35em;
  }

  &.is-on-board {
    color: rgba(var(--color-text-rgb), 0.7);
    pointer-events: none;

    &.highlight {
      background: rgba(#fff, 0.8);

      span {
        background: var(--score-tile-fg);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &:not(.is-on-board) {
    &.highlight {
      opacity: 0.9;
      background: var(--score-tile-fg);
      color: white;
    }
  }

  $alpha: 0.1;
  $margin: 50%;

  &[data-category='monster'] {
    --score-tile-bg: #{rgba(#b1b, $alpha)};
    --score-tile-fg: #b1b;
    margin-left: $margin;
    margin-top: $margin;
  }

  &[data-category='coin'] {
    --score-tile-bg: #{rgba(#48d, $alpha)};
    --score-tile-fg: #48d;

    &:not(.highlight) {
      display: none;
    }
  }

  &[data-category='global'] {
    --score-tile-bg: #{rgba(#666, $alpha)};
    --score-tile-fg: #666;
  }

  &[data-category='village'] {
    --score-tile-bg: #{rgba(#923, $alpha)};
    --score-tile-fg: #923;
    margin-left: $margin;
  }

  &[data-category='forest'] {
    --score-tile-bg: #{rgba(#060, $alpha)};
    --score-tile-fg: #060;
    margin-top: $margin;

    &.col {
      margin-top: 0;
    }
  }

  &[data-category='field-water'] {
    --score-tile-bg: #{linear-gradient(125deg, rgba(#fa0, $alpha), rgba(#13e, $alpha))};
    --score-tile-fg: linear-gradient(125deg, #fa0, #13e);
    margin-left: $margin;
    margin-top: $margin;

    &.col {
      margin-top: 0;
    }
  }

  &.col {
    margin-top: -$margin;
  }
}
