:host {
  display: grid;
  place-items: center;
  background: var(--score-tile-bg);
  font-weight: bold;
  font-size: 0.45em;

  &.is-big {
    font-size: 0.35em;
  }

  &.is-on-board {
    pointer-events: none;
    background: rgba(#fff, 0.7);

    span {
      background: var(--score-tile-fg);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  $alpha: 0.5;
  $margin: 50%;

  &[data-category='monster'] {
    --score-tile-bg: #{rgba(#a0a, $alpha)};
    --score-tile-fg: #a0a;
    margin-left: $margin;
    margin-top: $margin;
  }

  &[data-category='global'] {
    --score-tile-bg: #{rgba(#666, $alpha)};
    --score-tile-fg: #666;
  }

  &[data-category='village'] {
    --score-tile-bg: #{rgba(#823, $alpha)};
    --score-tile-fg: #823;
    margin-left: $margin;
  }

  &[data-category='forest'] {
    --score-tile-bg: #{rgba(#060, $alpha)};
    --score-tile-fg: #060;
    margin-top: $margin;

    &.col {
      margin-top: 0;
    }
  }

  &[data-category='field-water'] {
    --score-tile-bg: #{linear-gradient(125deg, rgba(#fa0, $alpha), rgba(#00a, $alpha))};
    --score-tile-fg: linear-gradient(125deg, #fa0, #00a);
    margin-left: $margin;
    margin-top: $margin;

    &.col {
      margin-top: 0;
    }
  }

  &.col {
    margin-top: -$margin;
  }
}
