:host {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  align-items: center;
  justify-content: center;
}

.goal {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 56px;

  .title {
    display: none;
  }

  .goal-id {
    font-weight: 600;
  }

  &[title] {
    cursor: pointer;
  }

  .score {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    font-variant-numeric: tabular-nums;

    .positive,
    .negative {
      font-size: 0.8rem;
      position: absolute;
      top: -8px;
      right: -16px;
    }

    .positive {
      color: green;
    }

    .negative {
      color: red;
    }
  }

  &[data-category='village'] {
    .goal-description {
      color: #823;
    }
  }

  &[data-category='forest'] {
    .goal-description {
      color: #060;
    }
  }

  &[data-category='field-water'] {
    .goal-description {
      background: linear-gradient(125deg, #fa0, #00a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
