<div
  *ngFor="let goal of goals; let index = index"
  class="goal"
  [attr.data-category]="goal.category"
  [attr.title]="goal.description"
  [class.inactive]="currentSeason?.goalIndices?.indexOf(index) === -1"
  (click)="showDescription(index)"
>
  <div class="goal-id">{{ index | indexToChar }}</div>
  <i class="goal-description fa-solid fa-circle-info"></i>
  <div class="title">
    {{ goal.name }}
  </div>
  <div class="score">
    {{ previousScores[index] ?? 0 }}
    <span *ngIf="getScoreDiff(index) as scoreDiff" [class.positive]="scoreDiff > 0" [class.negative]="scoreDiff < 0">{{
      scoreDiff | formatNumber
    }}</span>
  </div>
</div>

<div class="goal">
  <div>💎</div>
  <div class="score">
    {{ coins }}
    <span *ngIf="newCoins > 0" class="positive">{{ newCoins | formatNumber }}</span>
  </div>
</div>

<div class="goal">
  <div>😈</div>
  <div class="score">
    {{ previousScores[monsterScoreIndex] ?? 0 }}
    <span *ngIf="getScoreDiff(monsterScoreIndex) as scoreDiff" [class.positive]="scoreDiff > 0" [class.negative]="scoreDiff < 0">{{
      scoreDiff | formatNumber
    }}</span>
  </div>
</div>

<div *ngIf="currentSeason" class="goal">
  <div><strong>Σ</strong> {{ currentSeason.emoji }}</div>
  <div class="title">{{ currentSeason.name }}</div>
  <div class="score">
    {{ totalSeasonPreviousScore }}
    <span *ngIf="totalSeasonScoreDiff" [class.positive]="totalSeasonScoreDiff > 0" [class.negative]="totalSeasonScoreDiff < 0">{{
      totalSeasonScoreDiff | formatNumber
    }}</span>
  </div>
</div>

<div *ngIf="false" class="goal">
  <div>Σ</div>
  <div class="title">Total</div>
  <div class="score">
    {{ totalPreviousScore }}
    <span *ngIf="totalScoreDiff" [class.positive]="totalScoreDiff > 0" [class.negative]="totalScoreDiff < 0">{{
      totalScoreDiff | formatNumber
    }}</span>
  </div>
</div>
