:host {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-8) var(--gap-32);
  align-items: center;
  justify-content: center;
}

.goal {
  display: flex;
  gap: var(--gap-8);
  align-items: center;
  min-width: 56px;

  &.highlight {
    animation: scale-pulse 2s infinite;
  }

  .title {
    display: none;
  }

  div.goal-id {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
  }

  &[title] {
    cursor: pointer;
  }

  &.inactive {
    opacity: 0.33;
  }

  &.irrelevant {
    opacity: 0.2;
    text-decoration: line-through;

    .score-diff {
      display: none;
    }
  }

  .score {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    position: relative;
    font-variant-numeric: tabular-nums;

    .positive,
    .negative {
      font-size: 0.8rem;
      line-height: 1;
      position: absolute;
      top: calc(-1 * var(--gap-8));
      right: calc(-1 * var(--gap-16));
    }

    .positive {
      color: green;
    }

    .negative {
      color: red;
    }
  }
}

@keyframes scale-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
