<div
  *ngFor="let goal of goals; let index = index"
  class="goal"
  [attr.data-category]="goal.category"
  [attr.title]="goal.description"
  [class.inactive]="currentSeason?.goalIndices?.indexOf(index) === -1"
  [class.irrelevant]="isIrrelevantGoal(index)"
  [appGoalHighlighter]="index"
  activateTouchEvents
  (goalHover)="goalHover.emit($event)"
>
  <app-goal-id class="goal-id" [goal]="goal" [index]="index" />
  <div class="title">
    {{ goal.name }}
  </div>
  <div class="score">
    {{ previousScores[index] ?? 0 }}
    <span *ngIf="getScoreDiff(index) as scoreDiff" class="score-diff" [class.positive]="scoreDiff > 0" [class.negative]="scoreDiff < 0">{{
      scoreDiff | formatNumber
    }}</span>
  </div>
</div>

<div *ngIf="currentSeason" class="goal">
  <div><strong>Σ</strong> {{ currentSeason.emoji }}</div>
  <div class="title">{{ currentSeason.name }}</div>
  <div class="score">
    {{ totalSeasonPreviousScore }}
    <span
      *ngIf="totalSeasonScoreDiff"
      class="score-diff"
      [class.positive]="totalSeasonScoreDiff > 0"
      [class.negative]="totalSeasonScoreDiff < 0"
      >{{ totalSeasonScoreDiff | formatNumber }}</span
    >
  </div>
</div>

<div *ngIf="false" class="goal">
  <div>Σ</div>
  <div class="title">Total</div>
  <div class="score">
    {{ totalPreviousScore }}
    <span *ngIf="totalScoreDiff" class="score-diff" [class.positive]="totalScoreDiff > 0" [class.negative]="totalScoreDiff < 0">{{
      totalScoreDiff | formatNumber
    }}</span>
  </div>
</div>
