<h3>
  <span>{{ currentSeason.emoji }} {{ currentSeason.name }}</span>
  <span *ngIf="isStartOfSeason" class="season-start"> - Start of season</span>
  <span *ngIf="isEndOfSeason" class="season-end"> - End of season</span>
</h3>

<ng-container *ngIf="!isStartOfSeason">
  <h4>
    <span>Season Score</span>
    <span *ngIf="!isFinalScore"> - preliminary</span>
  </h4>
  <app-season-scores [currentSeason]="currentSeason" [coins]="coins" [goals]="goals" [scores]="scores" [isFinalScore]="isFinalScore" />
</ng-container>

<div *ngIf="isStartOfSeason">Duration: {{ currentSeason.duration }} <i class="fa-solid fa-clock"></i></div>

<ng-container *ngIf="!isEndOfGame">
  <h4>Season goals</h4>
  <app-goal-list [goals]="goals" [goalIndices]="currentSeason.goalIndices" showDefaultGoals />
</ng-container>

<button *ngIf="isStartOfSeason" class="submit-btn" (click)="startSeason.emit()">Start season</button>
<button *ngIf="isEndOfSeason" class="submit-btn" (click)="endSeason.emit()">
  <span *ngIf="currentSeason.emoji !== '❄️'">Proceed to next season</span>
  <span *ngIf="currentSeason.emoji === '❄️'">Show final score</span>
</button>
