:host {
  text-align: left;
  background: var(--bg-color-2);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-top: 0;
}

.goal-list,
.goal-scores {
  display: grid;
  gap: 8px;
  max-width: 480px;
  grid-template-columns: repeat(3, auto) 1fr;

  .goal-id,
  .total-score {
    font-weight: bold;
  }

  &.is-end {
    .total-score {
      color: var(--success-color);
    }
  }
}

.goal-scores {
  grid-template-columns: repeat(6, max-content);
  gap: 8px 32px;
}

.submit-btn {
  margin-top: 32px;
}

.toggle-trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 32px;
}
