<h3>
  <span>{{ currentSeason.emoji }} {{ currentSeason.name }}</span>
  <span *ngIf="isStartOfSeason" class="season-start"> - Start of season</span>
  <span *ngIf="isEndOfSeason" class="season-end"> - End of season</span>
</h3>

<ng-container *ngIf="!isStartOfSeason">
  <h4>
    <span>Season Score</span>
    <span *ngIf="!isEndOfSeason"> - preliminary</span>
  </h4>
  <app-season-scores [currentSeason]="currentSeason" [goals]="goals" [scores]="scores" [isFinalScore]="isEndOfSeason || isEndOfGame" />
</ng-container>

<div *ngIf="isStartOfSeason">Duration: {{ currentSeason.duration }} <i class="fa-solid fa-clock"></i></div>

<ng-container *ngIf="!isEndOfGame">
  <h4>Season goals</h4>
  <app-goal-list [goals]="seasonGoals" [goalIndices]="currentSeason.goalIndices" showDefaultGoals />
</ng-container>

<button *ngIf="isStartOfSeason" class="submit-btn" (click)="startSeason.emit()">Start season</button>
<button *ngIf="isEndOfSeason" class="submit-btn" (click)="endSeason.emit()">
  <span *ngIf="currentSeason.emoji !== '❄️'">Proceed to next season</span>
  <span *ngIf="currentSeason.emoji === '❄️'">Show final score</span>
</button>

<h4 *ngIf="!isEndOfGame" class="toggle-trigger" (click)="toggleShowAllGoals()">
  <i class="fa-solid fa-chevron-right" [ngClass]="{ 'fa-rotate-90': showAllGoals }"></i>
  <span>All goals</span>
</h4>
<app-goal-list *ngIf="showAllGoals" [goals]="goals" />
