<div class="control-box">
  <button class="icon-btn secondary" (click)="rotateCounterClockwise()"><i class="fa-solid fa-arrow-rotate-left fa-fw"></i></button>
  <button class="icon-btn" [disabled]="disableUp" (click)="moveUp()"><i class="fa-solid fa-arrow-up fa-fw"></i></button>
  <button class="icon-btn secondary" (click)="rotateClockwise()"><i class="fa-solid fa-arrow-rotate-right fa-fw"></i></button>
  <button class="icon-btn" [disabled]="disableLeft" (click)="moveLeft()"><i class="fa-solid fa-arrow-left fa-fw"></i></button>
  <button class="icon-btn" [disabled]="disableDown" (click)="moveDown()"><i class="fa-solid fa-arrow-down fa-fw"></i></button>
  <button class="icon-btn" [disabled]="disableRight" (click)="moveRight()"><i class="fa-solid fa-arrow-right fa-fw"></i></button>
  <button class="secondary" (click)="mirror()"><i class="fa-solid fa-arrow-right-arrow-left"></i> Mirror</button>
</div>

<div class="shape-box" [style.--columns]="landscapeShape.baseShape.width" [style.--rows]="landscapeShape.baseShape.height">
  <app-board-tile *ngFor="let tile of boardTiles" [tile]="tile"></app-board-tile>
</div>
