@use '../../styles/grid-mixins';

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-24);

  @include grid-mixins.board-tile-grid-variables;
}

$shapeSelectionWidth: calc(3.5 * var(--square-size) + 3 * var(--gap));

.shape-selection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24);
  min-width: $shapeSelectionWidth;
}

.monster-effect {
  max-width: $shapeSelectionWidth;
  text-align: left;
  font-size: 0.75rem;

  .monster-name {
    font-weight: bold;
  }
}

.shape-box {
  @include grid-mixins.board-tile-grid;

  --max-count: max(var(--columns), var(--rows));
  --gap-count: calc(var(--max-count) - 1);

  min-width: calc(var(--max-count) * var(--square-size) + var(--gap-count) * var(--gap));
  min-height: calc(var(--max-count) * var(--square-size) + var(--gap-count) * var(--gap));

  cursor: pointer;

  padding: var(--gap-8);
  border: 2px dotted #889;
  border-radius: 4px;
  opacity: 0.85;
  width: fit-content;

  position: relative;

  &:hover {
    opacity: 0.95;
    border-color: currentColor;
  }

  &.selected {
    opacity: 1;
    border-style: solid;
    border-color: currentColor;
  }

  app-board-tile {
    margin: -1px;
  }

  .variant-info {
    position: absolute;
    top: -0.6em;
    left: -0.6em;
    background: #889;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0.2em;
    font-size: 0.8em;
    line-height: 1;
    font-weight: bold;
  }

  .coin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    line-height: 1;
  }
}

.control-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: var(--gap-16);
  height: fit-content;

  button:not(.icon-btn),
  .warning {
    grid-column: 1 / -1;
  }

  button.submit-btn {
    margin-top: var(--gap-16);
  }

  .warning {
    font-size: 0.8em;
    font-style: italic;

    &.hidden {
      visibility: hidden;
    }

    i {
      margin-right: var(--gap-8);
      color: orange;
    }
  }
}
