:host {
  width: 100%;
  display: flex;
  gap: var(--gap-16);
  align-items: center;
  justify-content: center;
}

.season-icon {
  font-size: 1.5rem;
  line-height: 1;
}

.season-progress {
  white-space: nowrap;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;

  &.last-round:not(.is-end) {
    color: orange;
    animation: scale-pulse 1.5s infinite;
  }

  &.is-end {
    color: var(--success-color);
  }
}

@keyframes scale-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
