<ng-container *ngIf="gameState() as currentGameState">
  <app-game-view
    [gameState]="currentGameState"
    [playerIdToShow]="playerToShowId"
    (gameStateChange)="triggerGameStateSync($event)"
    (backToMyGame)="playerToShowId = currentPlayerId"
  />
</ng-container>

<div *ngIf="allPlayers.length > 1" class="server-actions">
  <div>All players</div>
  <button
    *ngFor="let player of allPlayers"
    [disabled]="playerToShowId === player.id"
    class="secondary"
    (click)="playerToShowId = player.id"
  >
    {{ player.id === currentPlayerId ? '[Me]' : player.name }}
  </button>
</div>

<div class="server-actions">
  <span *ngIf="isOnlineGame">synced</span>
  <span *ngIf="!isOnlineGame">local game</span>
  <button [disabled]="isAutoSync()" (click)="syncGame()">
    <i *ngIf="!isSyncing()" class="fa-solid fa-cloud-arrow-up"></i>
    <i *ngIf="isSyncing()" class="fa-spin fa-solid fa-spinner"></i>
    <span *ngIf="isAutoSync()">Auto Sync</span>
    <span *ngIf="!isAutoSync()">Save game</span>
  </button>
  <button (click)="goHome()">
    <i class="fa-solid fa-home"></i>
    Back to home
  </button>
</div>
