<ng-container *ngIf="gameState() as currentGameState">
  <app-game-view [gameState]="currentGameState" (gameStateChange)="triggerGameStateSync($event)" />
</ng-container>

<div class="server-actions">
  <span *ngIf="isOnlineGame">synced</span>
  <span *ngIf="!isOnlineGame">local game</span>
  <button [disabled]="isAutoSync()" (click)="syncGame()">
    <i *ngIf="!isSyncing()" class="fa-solid fa-cloud-arrow-up"></i>
    <i *ngIf="isSyncing()" class="fa-spin fa-solid fa-spinner"></i>
    <span *ngIf="isAutoSync()">Auto Sync</span>
    <span *ngIf="!isAutoSync()">Save game</span>
  </button>
  <button (click)="goHome()">
    <i class="fa-solid fa-home"></i>
    Back to home
  </button>
</div>
