@use '../../styles/landscape.mixins';

:host {
  display: grid;
  place-items: center;
  position: relative;

  &.base {
    background: var(--bg-color-4);
  }

  &.temporary {
    opacity: 0.7;
    margin: -1px;
  }

  &.hero-star,
  &.conflicted,
  div.destroyed {
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.hero-star {
    z-index: 1;

    &::after {
      content: '⭐';
      background: #ffffff11;
      font-size: 0.4em;
    }
  }

  &.conflicted {
    z-index: 3;

    &::after {
      content: '🚫';
      background: #ff000066;
      font-size: 0.4em;
    }
  }

  &.has-coin {
    &::after {
      content: '💎';
      font-size: 0.7em;
      position: absolute;
      top: 2px;
      right: 2px;
      line-height: 1;
    }
  }

  div.destroyed {
    z-index: 2;

    &::after {
      content: '💥';
      background: var(--bg-color-4-alpha-a);
      font-size: 1.2em;
      display: grid;
      place-items: center;
    }
  }

  @include landscape.bg-colors;
  @include landscape.emojis;
}
