@use '../../styles/landscape.mixins';

:host {
  display: grid;
  place-items: center;
  position: relative;

  &.base {
    background: #444;
  }

  &.temporary {
    opacity: 0.7;
    margin: -1px;
  }

  &.hero-star,
  &.conflicted,
  div.destroyed {
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.hero-star {
    z-index: 1;

    &::after {
      content: '⭐';
      background: #ffffff11;
      font-size: 0.4em;
    }
  }

  &.conflicted {
    z-index: 3;

    &::after {
      content: '🚫';
      background: #ff000099;
      font-size: 0.4em;
      animation: opacityBlink 1.5s infinite;
    }
  }

  div.destroyed {
    z-index: 2;

    &::after {
      content: '💥';
      background: #444444aa;
      font-size: 1.2em;
      display: grid;
      place-items: center;
    }
  }

  @include landscape.bg-colors;
  @include landscape.emojis;
}

@keyframes opacityBlink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
