:host {
  display: grid;
  place-items: center;
  position: relative;

  &.base {
    background: #444;
  }

  &.temporary {
    opacity: 0.7;
    margin: -1px;
  }

  &.hero-star,
  &.conflicted,
  div.destroyed {
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.hero-star {
    z-index: 1;

    &::after {
      content: '⭐';
      background: #ffffff11;
      font-size: 0.4em;
    }
  }

  &.conflicted {
    z-index: 3;

    &::after {
      content: '🚫';
      background: #ff000099;
      font-size: 0.4em;
      animation: opacityBlink 1.5s infinite;
    }
  }

  div.destroyed {
    z-index: 2;

    &::after {
      content: '💥';
      background: #444444aa;
      font-size: 1.2em;
      display: grid;
      place-items: center;
    }
  }

  &[data-landscape='mountain'] {
    background: #853;

    &::before {
      content: '🏔';
    }

    &:nth-child(2n) {
      &::before {
        content: '⛰️';
      }
    }
  }

  &[data-landscape='water'] {
    background: #00a;

    &::before {
      content: '🌊';
    }

    &:nth-child(2n) {
      &::before {
        content: '🐟';
      }
    }
  }

  &[data-landscape='forest'] {
    background: #060;

    &::before {
      content: '🌳';
    }

    &:nth-child(2n) {
      &::before {
        content: '🎄';
      }
    }
  }

  &[data-landscape='field'] {
    background: #fa0;

    &::before {
      content: '🌾';
    }

    &:nth-child(2n) {
      &::before {
        content: '🌱';
      }
    }
  }

  &[data-landscape='village'] {
    background: #823;

    &::before {
      content: '🏘';
    }

    &:nth-child(2n) {
      &::before {
        content: '🏠';
      }
    }
  }

  &[data-landscape='monster'] {
    background: #a0a;

    &::before {
      content: '😈';
    }

    &:nth-child(2n) {
      &::before {
        content: '🐉';
      }
    }
  }

  &[data-landscape='hero'] {
    background: #aaa;

    &::before {
      content: '👸';
    }

    &:nth-child(2n) {
      &::before {
        content: '🤴';
      }
    }
  }
}

@keyframes opacityBlink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
