<ng-container *ngFor="let column of currentBoardState; trackBy: trackByIndex; let x = index">
  <ng-container *ngFor="let tile of column; trackBy: trackByIndex; let y = index">
    <div *ngIf="x === 0" class="num-entry row" [style.grid-column]="1" [style.grid-row]="y + 1">{{ y | indexToChar }}</div>
    <app-board-tile
      [tile]="tile"
      [class.interactive]="allowPlacing"
      [class.has-neighbor-top]="isSameAreaAsNeighbor('top', tile)"
      [class.has-neighbor-right]="isSameAreaAsNeighbor('right', tile)"
      [class.has-neighbor-bottom]="isSameAreaAsNeighbor('bottom', tile)"
      [class.has-neighbor-left]="isSameAreaAsNeighbor('left', tile)"
      [class.scored]="isScoredTile(tile)"
      [class.score-related]="isScoreRelatedTile(tile)"
      [class.defeated-monster]="isDefeatedMonster(tile)"
      [class.highlight-border]="shouldAddHighlightBorder(tile)"
      [coinWillBeRemoved]="willCoinBeRemoved(tile)"
      (click)="onTileClick(x, y)"
    ></app-board-tile>
  </ng-container>
  <div class="num-entry col" [style.grid-column]="x + 1" [style.grid-row]="BOARD_SIZE + 1">{{ x + 1 }}</div>
</ng-container>

<app-temporary-placed-landscape-shape
  *ngIf="currentShapeToPlace"
  [placedShape]="currentShapeToPlace"
  [conflictedCellIndices]="conflictedCellIndices"
/>

<ng-container *ngFor="let scoreInfo of scoreInfosWithScore">
  <app-score-tile
    *ngFor="let scorePosition of scoreInfo.scoreIndicatorPositions"
    [class.col]="scorePosition.y === undefined"
    [class.row]="scorePosition.x === undefined"
    [score]="scoreInfo.scorePerEntity"
    [goalCategory]="scoreInfo.goalCategory"
    [isOnBoard]="scorePosition.x !== undefined && scorePosition.y !== undefined"
    [highlight]="isEndOfSeason && isScoreRelevant(scoreInfo)"
    [style.grid-column]="(scorePosition.x ?? BOARD_SIZE) + 1"
    [style.grid-row]="(scorePosition.y ?? BOARD_SIZE + 1) + 1"
    [class.relevant]="isScoreRelevant(scoreInfo)"
  />
</ng-container>
