@use '../../styles/grid-mixins';

:host {
  @include grid-mixins.board-tile-grid;
}

app-board-tile {
  &.interactive {
    cursor: pointer;
  }

  @include grid-mixins.neighbors;
}

.num-entry {
  font-family: monospace;
  font-size: 0.4em;
  padding: var(--gap-4);
  color: var(--color-text-secondary);

  &.col {
    height: min-content;
    font-weight: 600;
  }

  &.row {
    transform: translateX(-100%);
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
