@use '../../styles/grid-mixins';

:host {
  @include grid-mixins.board-tile-grid;
  @include grid-mixins.board-tile-grid-variables;

  margin-right: calc(-1 * var(--gap-32)); // todo - how to improve
}

app-board-tile {
  &.interactive {
    cursor: pointer;
  }

  @include grid-mixins.neighbors;
}

.num-entry {
  font-family: monospace;
  font-size: 0.4em;
  padding: var(--gap-4);
  color: var(--color-text-secondary);

  &.col {
    height: min-content;
  }

  &.row {
    transform: translateX(-100%);
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

app-score-tile {
  z-index: 10;
  height: calc(var(--square-size) * 0.5);
  width: calc(var(--square-size) * 0.5);

  &:not(.relevant) {
    opacity: 0.4;
    color: var(--color-text-secondary);
  }
}

:host(.is-end-of-game):not(.has-highlighted-goal) app-score-tile {
  display: none;
}

:host(.is-end-of-season, .has-highlighted-goal) {
  app-score-tile.relevant {
    animation: scale-pulse 2s infinite;
  }

  app-board-tile {
    &:not(.scored):not(.score-related) {
      filter: grayscale(1);
      opacity: 0.8;

      &[data-landscape='field'],
      &[data-landscape='hero'] {
        filter: brightness(0.4) grayscale(1); // to make yellow/grey less bright
      }

      &.base {
        opacity: 0.4;
      }
    }

    &:not(.scored) {
      filter: grayscale(0.3);
    }

    &.highlight-border {
      border: 2px solid var(--color-text);
    }
  }
}

:host(.has-highlighted-goal) {
  app-temporary-placed-landscape-shape {
    display: none;
  }
}

@keyframes scale-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1);
  }
}
