@use '../../styles/grid-mixins';

:host {
  display: contents;
}

app-board-tile {
  animation: opacityBlink 1.5s infinite;
  pointer-events: none;

  &.is-outside {
    display: none;
  }

  @include grid-mixins.neighbors;
}

@keyframes opacityBlink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
