@use '../../../styles/landscape.mixins';

:host {
  width: 100%;
  height: 1.5rem;
  display: grid;
  grid-template-columns: repeat(var(--column-count, 7), 1fr) auto; // additional column in case of overflow
  background: var(--bg-color-4);
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}

.card-progress {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: span var(--column-span, 0.5);

  &.zero-width {
    position: absolute;
    height: 2rem;
    width: var(--gap-8);
    grid-column: var(--grid-column);
    z-index: 0;

    &.last {
      animation:
        opacity-blink 1.5s infinite,
        grow-width-fixed 1.5s;
    }
  }

  &.last {
    animation:
      opacity-blink 1.5s infinite,
      grow-width 1.5s;
  }

  > div {
    @include landscape.bg-colors;
  }
}

@keyframes opacity-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grow-width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes grow-width-fixed {
  0% {
    width: 0;
  }

  100% {
    width: var(--gap-8);
  }
}
