/* You can add global styles to this file, and also import other style files */

@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --bg-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition:
    border-color 0.2s ease-in-out,
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &.icon-btn {
    padding: 0.6em;
  }

  &.secondary {
    background: transparent;
    border-color: #303030;

    &:hover:not([disabled]) {
      border-color: #646cff;
    }
  }

  &:not(.icon-btn) i:first-child {
    margin-right: 0.5em;
  }
}
button:hover:not([disabled]) {
  cursor: pointer;
  border-color: #646cff;
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --bg-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    border-color: #f9f9f9;

    &.secondary {
      border-color: #eaeaea;
    }
  }
}
