<ng-container *ngIf="gameState() as currentGameState; else loading">
  <app-game-view
    [gameState]="currentGameState"
    [playerIdToShow]="playerToShowId"
    (submitMove)="submitMove($event)"
    (endSeason)="endSeason()"
    (backToMyGame)="selectPlayerToShow(currentPlayerId)"
  >
    <div *ngIf="allPlayers.length > 1" class="all-players" [class.is-final]="!currentPlayerState?.season">
      <div class="server-actions">
        <button
          *ngFor="let player of allPlayers"
          [disabled]="playerToShowId === player.id"
          class="secondary small"
          (click)="selectPlayerToShow(player.id)"
        >
          <i class="fa-solid fa-user"></i>
          <span
            >{{ player.name }} {{ player.id === currentPlayerId ? '[Me]' : '' }}
            <span class="user-info">{{ getPlayerInfoString(player.id) }}</span></span
          >
        </button>
      </div>
    </div>
  </app-game-view>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <i class="fa-solid fa-spinner fa-spin"></i>
    <span> Loading game...</span>
  </div>
</ng-template>

<div class="server-actions">
  <span *ngIf="isOnlineGame">synced</span>
  <span *ngIf="!isOnlineGame">local game</span>
  <button [disabled]="isAutoSync()" (click)="syncGame()">
    <i *ngIf="!isSyncing()" class="fa-solid fa-cloud-arrow-up"></i>
    <i *ngIf="isSyncing()" class="fa-spin fa-solid fa-spinner"></i>
    <span *ngIf="isAutoSync()">Auto Sync</span>
    <span *ngIf="!isAutoSync()">Save game</span>
  </button>
  <button (click)="goHome()">
    <i class="fa-solid fa-home"></i>
    Back to home
  </button>
</div>
