:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-16);
  box-sizing: border-box;
}

.server-actions {
  padding: var(--gap-16);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-16);
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

  > span {
    font-style: italic;
  }
}

.all-players {
  overflow-x: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: var(--gap-8) var(--gap-16);
  box-sizing: border-box;

  &:not(.is-final) {
    .user-info {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }

  .server-actions {
    padding: 0;
    flex-wrap: nowrap;
    justify-content: start;
  }
}

@media (max-width: 600px) {
  :host {
    padding-bottom: 80px; // to account for the submit button
  }
}
