:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-16);
  box-sizing: border-box;
}

.server-actions {
  padding: var(--gap-16);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-16);
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

  > span {
    font-style: italic;
  }
}

@media (max-width: 600px) {
  :host {
    padding-bottom: 80px; // to account for the submit button
  }
}
