@if (currentGameState && visiblePlayerState && playerState) {
  <div class="sticky-header">
    <app-season-info
      [currentSeason]="playerState.season"
      [playedCards]="isStartOfSeason ? [] : playerState.playedSeasonCards"
      [isEndOfSeason]="playerState.isEndOfSeason"
    />

    <app-goal-area
      [goals]="gameState.goals"
      [previousScores]="playerState.scores"
      [temporaryScores]="visiblePlayerState.scores"
      [currentSeason]="playerState.season"
      [isEndOfSeason]="playerState.isEndOfSeason && !playerState.isEndOfGame"
      (goalHover)="setSpecialHighlightGoalIndex($event)"
    ></app-goal-area>
  </div>

  <ng-content></ng-content>

  <div class="content">
    @if (isStartOfGame) {
      <app-example-board [goals]="gameState.goals" [specialHighlightGoal]="specialHighlightGoal" />
    } @else {
      <app-game-board
        [currentBoardState]="playerState.boardState"
        [nextBoardState]="visiblePlayerState.boardState"
        [currentShapeToPlace]="showCurrentShape ? currentShapeToPlace : undefined"
        [conflictedCellIndices]="visiblePlayerState.conflictedCellIndices"
        [scoreInfos]="playerState.scoreInfos"
        [nextScoreInfos]="visiblePlayerState.scoreInfos"
        [seasonGoals]="playerState.seasonGoals"
        [isEndOfSeason]="playerState.isEndOfSeason && !playerState.isEndOfGame"
        [isEndOfGame]="playerState.isEndOfGame"
        [specialHighlightGoal]="specialHighlightGoal"
        (positionChange)="onPositionChange($event)"
      />
    }

    <div class="controls-and-info" [class.is-start]="isStartOfGame">
      <div *ngIf="!isCurrentPlayer" class="other-player-info">
        <h2><i class="fa-solid fa-info-circle"></i> {{ playerState.player.name }}'s game board</h2>
        <button (click)="backToMyGame.emit()">Back to mine</button>
      </div>

      <app-next-shape
        *ngIf="isCurrentPlayer && playerState.cardToPlace && !isStartOfSeason && !playerState.isEndOfSeason && currentMove"
        [landscapeCard]="playerState.cardToPlace"
        [hasConflict]="visiblePlayerState.hasConflict"
        [untouchedBoardState]="playerState.boardState"
        [move]="currentMove"
        (moveChange)="onMoveChange($event)"
        (submit)="submitShape()"
      ></app-next-shape>

      <app-season-goals
        *ngIf="isCurrentPlayer && !isStartOfGame && playerState.season"
        [currentSeason]="playerState.season"
        [goals]="gameState.goals"
        [scores]="playerState.scores"
        [isStartOfSeason]="isStartOfSeason"
        [isEndOfSeason]="playerState.isEndOfSeason"
        (startSeason)="startSeason()"
        (endSeason)="endSeason.emit()"
        (goalHover)="setSpecialHighlightGoalIndex($event)"
      ></app-season-goals>

      <app-game-setup-info
        *ngIf="!playerState.isEndOfGame"
        [isStartOfGame]="isStartOfGame"
        [goals]="gameState.goals"
        [seasonScores]="playerState.seasonScores"
        (startGame)="isStartOfGame = false"
        (goalHover)="setSpecialHighlightGoalIndex($event)"
      />

      <ng-container *ngIf="playerState.isEndOfGame">
        <div class="end-score">
          <div>🎖️</div>
          <div>{{ totalEndScore }}</div>
        </div>

        <app-season-goals
          *ngFor="let seasonScore of playerState.seasonScores"
          [currentSeason]="seasonScore.season"
          [goals]="gameState.goals"
          [scores]="seasonScore.goalScores"
          [isEndOfGame]="true"
          (goalHover)="setSpecialHighlightGoalIndex($event)"
        ></app-season-goals>
      </ng-container>
    </div>
  </div>
} @else {
  <div class="loading">
    <i class="fa-solid fa-spinner fa-spin"></i>
  </div>
}
